@font-face {
    font-family: istock-web-regular;
    src: url(../fonts/Istok_Web/IstokWeb-Regular.ttf);
}

@font-face {
    font-family: istock-web-bold;
    src: url(../fonts/Istok_Web/IstokWeb-Bold.ttf);
}

@font-face {
    font-family: lily-script-one;
    src: url(../fonts/Lily_Script_One/LilyScriptOne-Regular.ttf);
}

:root {
    --text-50: #edf2f7;
    --text-100: #dce5ef;
    --text-200: #b9cadf;
    --text-300: #95b0d0;
    --text-400: #7295c0;
    --text-500: #4f7bb0;
    --text-600: #3f628d;
    --text-700: #2f4a6a;
    --text-800: #203146;
    --text-900: #101923;
    --text-950: #080c12;

    --background-50: #ebf1f9;
    --background-100: #d7e3f4;
    --background-200: #afc6e9;
    --background-300: #88aadd;
    --background-400: #608ed2;
    --background-500: #3871c7;
    --background-600: #2d5b9f;
    --background-700: #224477;
    --background-800: #162d50;
    --background-900: #0b1728;
    --background-950: #060b14;

    /* --background-50: #f8fafD;
    --background-100: #d7e3f4;
    --background-200: #afc6e9;
    --background-300: #88aadd;
    --background-400: #608ed2;
    --background-500: #3871c7;
    --background-600: #2d5b9f;
    --background-700: #224477;
    --background-800: #162d50;
    --background-900: #0b1728;
    --background-950: #060b14; */

    --primary-50: #e9f4fb;
    --primary-100: #d4e8f7;
    --primary-200: #a9d2ef;
    --primary-300: #7ebbe7;
    --primary-400: #53a5df;
    --primary-500: #288ed7;
    --primary-600: #2072ac;
    --primary-700: #185581;
    --primary-800: #103956;
    --primary-900: #081c2b;
    --primary-950: #040e16;

    --secondary-50: #eff3f5;
    --secondary-100: #dfe6ec;
    --secondary-200: #c0cdd8;
    --secondary-300: #a0b4c5;
    --secondary-400: #819bb1;
    --secondary-500: #61839e;
    --secondary-600: #4e687e;
    --secondary-700: #3a4e5f;
    --secondary-800: #27343f;
    --secondary-900: #131a20;
    --secondary-950: #0a0d10;

    --accent-50: #e7f2fe;
    --accent-100: #cee5fd;
    --accent-200: #9eccfa;
    --accent-300: #6db2f8;
    --accent-400: #3c99f6;
    --accent-500: #0b7ff4;
    --accent-600: #0966c3;
    --accent-700: #074c92;
    --accent-800: #053361;
    --accent-900: #021931;
    --accent-950: #010d18;

    --card-background: #EEEBE9;
    --inputs: #e0e2e4;

}

html {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.body {
    position: relative;
    box-sizing: inherit;
    padding-bottom: 200px;
    background-color: var(--background-50);
    flex: 1;
}

.navbar {
    background-color: var(--background-50);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}


.container-top-nav {
    padding: 0px 16px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.center-actions-container {
    display: flex;
    justify-content: space-between;
    flex: 6 1 0;
    gap: 16px;
    /* background-color: lavender; */
}

.right-dropdown-container,
.left-brand-container {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    /* background-color: lightblue; */
}

.center-center-action {
    flex: 3 1 0;
    /* background-color: lightcoral; */
}

.right-center-action,
.left-center-action {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightcoral; */
}

.navbar-brand {
    display: flex;
    gap: 8px;
    font-size: 1.4em;
    font-family: istock-web-bold;
    background: linear-gradient(to right, var(--accent-500), var(--accent-500), var(--accent-300));
    color: transparent;
    background-clip: text;
    align-items: center;
}


.username_hidden {
    margin-left: 8px;
}

.nav-link {
    font-family: istock-web-regular;
    font-weight: bold;
    font-size: 16px;
    color: var(--text-950);
}

.user-nav-icon {
    font-size: 1.6em;
    /* color: #ff3030; */
    color: var(--accent-500);
}



.dropdown-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}

.dropdown-toggle {
    font-family: istock-web-regular;
    color: var(--text-950);
    background-color: transparent;
    /* min-width: 200px; */
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
    color: var(--accent-800);
    font-weight: bold;
}

.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu .dropdown-item {
    font-family: istock-web-regular;
    color: var(--text-950);
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item {
    margin: auto;
}

.dropdown-item:hover {
    background-color: var(--secordary-800);
    font-family: istock-web-bold;
    color: #ffffff;
}


.material-symbols-outlined {
    color: var(--text-950);
    transform: scale(0.9);
}

.navBtn:hover {
    color: var(--secordary-800);
}

.navBtn:hover .Icon {
    color: inherit;
}

.Icon {
    margin-top: 2px;
    margin-right: 4px;
    color: inherit;
}



.nav-item {
    list-style: none;
}


.dropdown-toggleBtn {
    font-family: istock-web-regular;
    color: var(--text-950);
    background-color: transparent;
    min-width: 200px;
}

.dropdown-toggleBtn:hover,
.dropdown-toggleBtn:focus {
    transform: scale(1.2);
    color: var(--text-950);
    font-weight: bold;
}

.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.dropdown-menu .dropdown-item {
    font-family: istock-web-regular;
    color: var(--text-950);
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item {
    margin: auto;
}

.dropdown-item:hover {
    background-color: var(--secordary-800);
    font-family: istock-web-bold;
    color: #ffffff;
}

.material-symbols-outlined {
    color: var(--text-950);
    transform: scale(0.9);
}

.navBtn {
    font-family: istock-web-regular;
    font-weight: bold;
    font-size: 16px;
    color: var(--text-950);
}

.Icon {
    margin-top: 2px;
    margin-right: 4px;
    color: inherit;
}

.Icon-web {
    margin-top: 2px;
    margin-right: 4px;
    color: var(--accent-500);
    filter: var(--accent-500);
    fill: var(--accent-500);
}

.navBtn:hover {
    color: var(--secordary-800);
}

.dropdown-toggleBtn {
    font-family: istock-web-regular;
    color: var(--text-950);
    background-color: transparent;
    min-width: 200px;
}

.main {
    display: flex;
    margin: 0;
}

.column {
    flex: 1;
}

.left {
    box-shadow: 4px 0 0 rgba(0, 0, 0, 0.2);
}

.floating-alert {
    position: fixed;
    /* Makes the alert float on the page */
    top: 60px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 10;
    /* Ensure it appears above other content */
    width: auto;
    /* Adjust width as needed */
    max-width: 300px;
    /* Optional: Limit the width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow */
}

.welcomeText {
    display: block;
    font-size: 1.8em;
    font-family: lily-script-one;
    color: var(--text-700);
    margin-top: 80px;
}


.container-form {
    grid-column: span 10;
    position: relative;
    border-radius: 16px;
    margin: auto;
    margin-top: 10px;
    padding: 16px;
    /* width: 50%; */
    width: 100%;
    background: var(--card-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-label {
    font-family: istock-web-regular;
    color: var(--text-950);
}

.input-field {
    display: inline-block;
    background-color: var(--inputs);
    color: var(--text-950);
    border: none;
    outline: none;
    width: 100%;
    padding: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    text-align: start;
}

.input-field::placeholder {
    color: var(--text-950);
    font-family: istock-web-regular;
}

.dropdownChefCategory {
    position: relative;
    width: 100%;
}

.dropdown-menuChefCategory {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    min-width: unset;
    position: absolute;
    box-sizing: border-box;
}

.dropdown-menuChefCategory .dropdown-item {
    width: 100%;
    font-family: istock-web-regular;
    color: var(--text-950);
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item:hover {
    background-color: var(--secondary-800);
    font-family: istock-web-bold;
    color: #ffffff;
}

.selected {
    text-decoration: none;
}


.container-main {
    position: relative;
    margin-top: 60px;
}


.label {
    color: var(--secondary-500);
    font-family: istock-web-regular;
}

.toggleTextss {
    text-decoration: none;
    color: #BD9479;
}

.pass-input {
    background-color: var(--inputs);
    border: none;
    outline: none;
    width: 100%;
    border-radius: 8px;
}

.inputpass {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-950);
    width: 80%;
    padding: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.chefs_level {
    position: relative;
}

.check-boxA {
    position: absolute;
    right: 16px;
    top: 16px;
    -webkit-appearance: none;
    font-size: larger;
    color: var(--text-950);
}



.check-box {
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    -webkit-appearance: none;
    font-size: larger;
    color: var(--text-950);
}

.check-box:hover {
    color: var(--accent-300);
}

.check-box:checked {
    -webkit-appearance: none;
    color: var(--accent-500);
}

.check-box:checked::before {
    -webkit-appearance: none;
    color: var(--accent-500);
}


.navBarActions_dropdown {
    display: none;
}

.swal2-confirm,
.btnSub {
    font-family: lily-script-one;
    font-size: large;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: var(--accent-500);
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
}

.swal2-cancel,
.btnCancel {
    font-family: lily-script-one;
    font-size: large;
    color: var(--text-950) !important;
    border: none;
    outline: none;
    background-color: var(--primary-200) !important;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
}

.btnDelete {
    position: absolute;
    bottom: 16px;
    font-family: lily-script-one;
    font-size: large;
    color: var(--text-950);
    border: none;
    outline: none;
    background-color: var(--secondary-200);
    padding: 8px;
    padding-inline: 32px;
    border-radius: 8px;
}

.btnDelete:hover,
.btnCancel:hover,
.btnSub:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}


.user {
    background-color: var(--accent-100);
    position: absolute;
    overflow: hidden;
    z-index: -2;
    height: 250px;
    width: 100%;
}

.banner {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

/* .grid-container > * {
    background-color: red;
} */

.user-in {
    grid-column: span 9;
    grid-row: span 4;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.profile-pic {
    background-color: var(--card-background);
    width: 200px;
    aspect-ratio: 1 / 1;
    border: 8px solid var(--secondary-500);
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
    position: relative;
}

.pic-container {
    position: relative;
    /* background-color: #074c92; */
    width: min-content;
}

.dp {
    font-size: 264px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-info {
    flex: 2 1 auto;
    position: relative;
}

.hat {
    width: 200px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -100px;
    left: -65px;
    rotate: -20deg;
}

.edit-pic {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 1.5em;
    background-color: var(--secondary-100);
    border: none;
    border-radius: 20%;
    color: var(--text-950);
}

.edit-info {
    /* background-color: lightcoral; */
    background-color: transparent;
    grid-row: span 2;
    border: none;
}

.edit-info-2 {
    /* background-color: lightcoral; */
    background-color: transparent;
    border: none;
}


.required {
    font-family: istock-web-regular;
    color: red;
    font-size: 14px;
    display: inline;
}


.swal-wide {
    width: 80%;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLine {
    background-color: var(--secondary-700);
    height: 2px;
    width: 100%;
    margin-top: 10px;
}

.footerText {
    font-family: istock-web-regular;
    color: var(--text-800);
    font-size: large;
    text-align: center;
}

.footerAcknowledgment {
    /* background-color: var(--text-700); */
    display: flex;
}

.footerAcknowledgment a {
    /* background-color: var(--text-50); */
    flex-grow: 1;
}


/* Phones */
@media (max-width: 600px) {

    /* Top Navigatio */
    .container-top-nav {
        padding: 0px 16px;
        /* background-color: blueviolet; */
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .center-actions-container {
        display: flex;
        justify-content: space-around;
        gap: 16px;
        flex: 2 1 0;
        /* background-color: lavender; */
    }

    .right-dropdown-container,
    .left-brand-container {
        display: flex;
        flex: 1 1 0;
        justify-content: space-around;
        /* background-color: lightblue; */
    }

    .left-center-action,
    .right-center-action {
        display: none;
    }

    .center-center-action {
        flex: 3 1 0;
        /* background-color: lightcoral; */
    }

    .right-center-action,
    .left-center-action {
        flex: 1 1 0;
    }


    .navbar-brand {
        display: flex;
        gap: 8px;
        font-size: 1.2em;
        font-family: istock-web-bold;
        color: transparent;
        background-clip: text;
    }

    .navBarActions {
        display: flex;
        flex: 1 1 0;
        justify-content: center;
    }

    .form-search {
        border-radius: 8px;
    }


    .username_hidden,
    .webname {
        display: none;
    }

    .dropdown-toggle {
        padding: 8px;
    }


    .navBarActions_dropdown {
        display: flex;
        gap: 8px;
    }

    /* Top Navigation END */

    /* Footer */
    .footerText {
        font-family: istock-web-regular;
        color: var(--text-900);
        font-size: 0.9em;
        text-align: center;
    }

    /* .footerAcknowledgment {
        background-color: var(--accent-400);
    } */
    
    .footerAcknowledgment a > img {
        height: 36px;
    }

    /* Footer END */




    /* .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    } */



    .actionBtn {
        min-width: min-content;
        aspect-ratio: 1 / 1;
        padding: 8px;
    }

    .actionBtn:hover,
    .addBtn:hover {
        font-weight: bold;
        transform: scale(1.05);
        color: #ffffff;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .addBtn:hover .Icon {
        color: inherit;
    }


    .btnDelete {
        position: absolute;
    }

    .btnSub,
    .btnEdit,
    .btnDelete,
    .btnCancel {
        min-width: min-content;
        padding-inline: 16px;
        aspect-ratio: 3 / 1;
    }

    .btnEdit:hover,
    .btnDelete:hover,
    .btnCancel:hover,
    .btnSub:hover {
        font-weight: bold;
        transform: scale(1.05);
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    }


    .btnSend {
        align-items: center;
        border: none;
        outline: none;
        background-color: #745E4D;
        padding: 8px;
        height: 100%;
        max-height: 56px;
        border-radius: 8px;
        aspect-ratio: 1 / 1;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }


    .action_name {
        display: none;
    }

    .main {
        padding-inline: 16px;
    }





    .container-form {
        position: relative;
        min-width: 100%;
        border-radius: 16px;
        background: transparent;
        box-shadow: none;
        transition: 0.5s;
        overflow: hidden;
        margin-left: 0px;
        margin-top: 0px;
    }

    .inputpass,
    .input-field {
        padding: 8px 16px;
    }

    .check-box {
        float: right;
        margin: 0;
        padding: 10px;
        -webkit-appearance: none;
        font-size: larger;
    }

    .check-boxA {
        top: 8px;
        right: 16px;
        padding: 0px;
        margin: 0px;
        -webkit-appearance: none;
        font-size: larger;
    }



    .user {
        background-color: var(--accent-100);
        position: absolute;
        overflow: hidden;
        z-index: -2;
        height: 280px;
        width: 100%;
    }

    .banner {
        position: absolute;
        width: 100vw;
        height: 280px;
        object-fit: cover;
        z-index: -1;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 0;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* .grid-container > * {
    background-color: red;
} */

    .user-in {
        /* background-color: rebeccapurple; */
        grid-column: span 9;
        grid-row: span 5;
        display: block;
        padding-top: 55px;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        padding-left: 16px;
    }

    .profile-pic {
        background-color: var(--card-background);
        width: 150px;
        aspect-ratio: 1 / 1;
        border: 4px solid var(--secondary-500);
        border-radius: 50%;
    }

    .pic-container {
        position: relative;
        /* background-color: #074c92; */
        width: min-content;
    }

    .user-info {
        flex: 2 1 auto;
        position: relative;
    }

    .hat {
        width: 100px;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: -35%;
        left: -5%;
        rotate: -20deg;
    }

    .edit-pic {
        position: absolute;
        bottom: 16px;
        right: 16px;
        font-size: 1.2em;
    }

    .edit-info {
        /* background-color: lightcoral; */
        background-color: transparent;
        grid-row: span 1;
        /* grid-column: span 2; */
        border: none;
        padding: 16px;
    }

    .edit-info-2 {
        /* background-color: lightcoral; */
        background-color: transparent;
        /* grid-column: span 4; */
        grid-row: span 2;
        border: none;
    }

    .user_name {
        font-size: 1.2em;
    }

    .user_email {
        font-size: 0.8em;
    }

    .user_chefs_level {
        font-size: 0.8em;
    }

    
    .swal-wide {
        width: 100%;
    }

}